.side {
    height: 100%;
    width: 50%;
    position: fixed;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: lightgray;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
}

.centered img {
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

button {
    border-radius: 20px;
    font-size: 16px;
}

li {
    color: gray;
    padding-top: 20px;
}
input {
    color: gray;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.bottom {
    position: fixed;
    bottom: 40px;
    z-index: 3;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .side {height: 100%}
    .side {width: 100%}
    .side {position: absolute}
    .left {left: 0}
    .right {left: 0}
    .left {top: 0}
    .right {top: 50%}
    .bottom {position: fixed}
    .bottom {top: 50%}
    .bottom {left: 0}
    .bottom {width: 20%}
    .centered {top: 25%}
    #dog {width: 80%}
    #dog {height: 80%}
}

@media only screen and (min-width: 768px) {
    .side {top: 0}
}